/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

h4 {
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    /* max-width: 1250px; */
    margin: 0 auto;

}

@media(max-width: 510px){
    .container{
        width:100%;
        max-width: 510px;
    }
}
header {
    /* width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    background: #1E4F5C;
    font-size: 3rem;
    height: 50px;
    padding: 0 40px; */
    /* position: fixed;
    z-index: 2; */
}

.header {
    /* font-size: 3rem; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 2;
    background: #1E4F5C;
    font-size: 3rem;
    padding: 0 40px;
    color: white;
}

@media(max-width:510px){
    .jumbotron {
        padding-top: 50px;
    }
}

.header a {
    color: white;
    text-decoration: none;
}

.header a:hover {
    cursor: pointer;
}

.right-side-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.8rem;
    width: 150px;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

.hero {
    margin-top: 10px;
    font-family: 'Work Sans', sans-serif;
}

.menu {
    display: none;
    position: fixed;
    top: 50px;
    right: 0;
    width: 150px;
    height: 50vh;
    background-color: #1E4F5C;
    z-index: 2;
    text-align: center;
    line-height: 1.6;
}

.menu a {
    font-size: 2.5rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    margin-top: 10px;
}

.menu--open{
    display: block;
}

.menu-button {
    cursor: pointer;
}

.jumbo-img {
    width: 100%;
    height: auto;
    padding-top: 50px;
}

.jumbotron {
    position: relative;
    text-align: center;
    height: 100%;
}

.jumbotron .jumbo-text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 6.5rem;
    transform: translate(-50%, -50%);
    background: rgba(120, 120, 122, 0.425);
    width: 100%;
    padding: 60px 0;
}

@media(max-width: 510px){
    .jumbotron .jumbo-text{
    font-size: 1.8rem;
    padding: 30px 0;
    }
}

.main-content {
    margin: 40px 30px;
}

@media(max-width:510px){
    .main-content{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.main-content h1 {
    font-size: 5rem;
    color: #1E4F5C;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
    margin-top: 20px;
}

.main-content .button {
    width: 150px;
    background: #1E4F5C;
    font-size: 2rem;
    border-radius: 10px;
    text-align: center;
    height: 50px;
    margin-top: 30px;
    padding-top: 12px;
    color: white;
    display: inline-block;
    margin-right: 10px;
}

@media(max-width:510px){
    .main-content .button{
        width: 80%;

    }
}

.main-content p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background: whitesmoke;
    padding: 30px 0;
}


.footer-text {
    margin-bottom: 20px;
    line-height: 20px;
}

.footer-content {
    border-bottom: 1px solid lightgray;
    margin: 10px;
}

.footer-content h2 {
    margin-bottom: 10px;
}

@media(max-width:510px){
    .footer-content{
        text-align: center;
        height: 100%;
    }
}

.bottom-footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
}

@media(max-width:510px){
    .bottom-footer{
        height: 100%;
    }
}

.aboutUs-img {
    height: 300px;
    width: 100%;
    margin-bottom: 40px;
    /* padding-top: 50px; */
}

.bioImg {
    height: 150px;
    width: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.aboutUs-mainContent {
    text-align: center;
    font-size: 5rem;
    margin-bottom: 20px;
}


@media(max-width:510px){
    .aboutUs-mainContent{
        height: 100%;
    }
}


.aboutUs-mainContent h1 {
    margin-bottom: 40px;
    color: #1E4F5C;
}

.tabs {
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 47px;
    background-color: #fff;
    margin-bottom: 30px;
  }

  .tabs .topics {
    display: flex;
    justify-content: none;
    align-items: center;
    flex-direction: row;
  }
  .tabs .topics .title {
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
  }
  .tabs .topics .tab {
    display: flex;
    justify-content: none;
    align-items: center;
    flex-direction: row;
    color: white;
    background-color: #1E4F5C;
    margin: 0 5px;
    padding: 2px 10px;
    font-size: 12px;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: bold;
  }
  .tabs .topics .tab:hover {
    text-decoration: underline;
  }
  .tabs .topics .active-tab {
    background-color: #fff;
    color: #1E4F5C;
    border: 2px solid #333;
  }

.teamBios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

@media(max-width:510px){
    .teamBios{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        height: 100%;
    }
}

.card {
    font-size: 1.8rem;
    margin-right: 30px;
}

@media(max-width:510px){
    .card{
        margin-bottom: 20px;
        height: 100%;
        margin-right: 0;
    }
}

